@theme inline {
  /* Spacing */
  --spacing-md: var(--md-sys-window-size-class-md); /* 600px */
  --spacing-ex: var(--md-sys-window-size-class-ex); /* 840px */
  --spacing-lg: var(--md-sys-window-size-class-lg); /* 1200px */
  --spacing-xl: var(--md-sys-window-size-class-xl); /* 1600px */

  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-md: 37.5rem;
  --breakpoint-ex: 52.5rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 100rem;

  /* Typography */
  --font-sans: var(--md-ref-typeface-brand, --md-ref-typeface-fallback);

  /* Typescale */

  /* Title large */
  --text-title-large: var(--md-sys-typescale-title-large-size);
  --text-title-large--line-height: var(
    --md-sys-typescale-title-large-line-height
  );

  /* Label large */
  --text-label-large: var(--md-sys-typescale-label-large-size);
  --text-label-large--line-height: var(
    --md-sys-typescale-label-large-line-height
  );
  --text-label-large--letter-spacing: var(
    --md-sys-typescale-label-large-tracking
  );
  --text-label-large--font-weight: var(--md-sys-typescale-label-large-weight);

  /* Title medium */
  --text-title-medium: var(--md-sys-typescale-title-medium-size);
  --text-title-medium--line-height: var(
    --md-sys-typescale-title-medium-line-height
  );
  --text-title-medium--letter-spacing: var(
    --md-sys-typescale-title-medium-tracking
  );
  --text-title-medium--font-weight: var(--md-sys-typescale-title-medium-weight);

  /* Colors */
  --color-primary: var(--md-sys-color-primary);
  --color-primary-hover: var(--md-sys-color-primary-hover);
  --color-primary-focused: var(--md-sys-color-primary-focused);
  --color-primary-pressed: var(--md-sys-color-primary-pressed);
  --color-on-primary: var(--md-sys-color-on-primary);
  --color-on-primary-hover: var(--md-sys-color-on-primary-hover);
  --color-on-primary-focused: var(--md-sys-color-on-primary-focused);
  --color-on-primary-pressed: var(--md-sys-color-on-primary-pressed);
  --color-secondary-container: var(--md-sys-color-secondary-container);
  --color-on-secondary-container: var(--md-sys-color-on-secondary-container);
  --color-on-secondary-container-hover: var(
    --md-sys-color-on-secondary-container-hover
  );
  --color-on-secondary-container-focused: var(
    --md-sys-color-on-secondary-container-focused
  );
  --color-on-secondary-container-pressed: var(
    --md-sys-color-on-secondary-container-pressed
  );
  --color-surface: var(--md-sys-color-surface);
  --color-on-surface: var(--md-sys-color-on-surface);
  --color-on-surface-variant: var(--md-sys-color-on-surface-variant);
  --color-on-surface-variant-hover: var(
    --md-sys-color-on-surface-variant-hover
  );
  --color-on-surface-variant-focused: var(
    --md-sys-color-on-surface-variant-focused
  );
  --color-on-surface-variant-pressed: var(
    --md-sys-color-on-surface-variant-focused
  );
  --color-surface-container-low: var(--md-sys-color-surface-container-low);
}
