:root {
  /* ref tokens */
  --md-ref-palette-primary20: #002e69;
  --md-ref-palette-primary40: #0058bb;
  --md-ref-palette-primary80: #adc6ff;
  --md-ref-palette-primary100: #ffffff;

  /* sys tokens */
  --md-sys-color-primary: var(--md-ref-palette-primary40);
  --md-sys-color-on-primary: var(--md-ref-palette-primary100);
}
