.dark {
  @apply scheme-light-dark;

  /* sys tokens */
  --md-sys-color-primary: var(--md-ref-palette-primary80);
  --md-sys-color-primary-hover: oklch(
    from var(--md-ref-palette-primary80) l c h /
      var(--md-sys-state-hover-state-layer-opacity)
  );
  --md-sys-color-primary-focused: oklch(
    from var(--md-ref-palette-primary80) l c h /
      var(--md-sys-state-focused-state-layer-opacity)
  );
  --md-sys-color-primary-pressed: oklch(
    from var(--md-ref-palette-primary80) l c h /
      var(--md-sys-state-pressed-state-layer-opacity)
  );
  --md-sys-color-on-primary: var(--md-ref-palette-primary20);
  --md-sys-color-secondary-container: var(--md-ref-palette-secondary30);
  --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary90);
  --md-sys-color-on-secondary-container-hover: oklch(
    from var(--md-ref-palette-secondary90) l c h /
      var(--md-sys-state-hover-state-layer-opacity)
  );
  --md-sys-color-on-secondary-container-focused: oklch(
    from var(--md-ref-palette-secondary90) l c h /
      var(--md-sys-state-focused-state-layer-opacity)
  );
  --md-sys-color-on-secondary-container-pressed: oklch(
    from var(--md-ref-palette-secondary90) l c h /
      var(--md-sys-state-pressed-state-layer-opacity)
  );
  --md-sys-color-surface: var(--md-ref-palette-neutral6);
  --md-sys-color-on-surface: var(--md-ref-palette-neutral90);
  --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant80);
  --md-sys-color-on-surface-variant-hover: oklch(
    from var(--md-ref-palette-neutral-variant80) l c h /
      var(--md-sys-state-hover-state-layer-opacity)
  );
  --md-sys-color-on-surface-variant-focused: oklch(
    from var(--md-ref-palette-neutral-variant80) l c h /
      var(--md-sys-state-focused-state-layer-opacity)
  );
  --md-sys-color-on-surface-variant-pressed: oklch(
    from var(--md-ref-palette-neutral-variant80) l c h /
      var(--md-sys-state-pressed-state-layer-opacity)
  );
}
