.radio-button {
  @apply flex items-center justify-center size-12 relative *:relative before:z-0 after:z-1 *:z-2 text-on-surface-variant has-checked:text-primary z-1;

  &::before,
  &::after {
    @apply absolute size-10 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full;
    content: "";
  }

  &:hover
    .radio-button__input:not(:checked, :disabled, :user-invalid)
    + .radio-button__icons
    svg:last-child {
    @apply text-on-surface;
  }

  &:has(.radio-button__input:not(:disabled)):hover::after {
    @apply bg-on-surface-hover;
  }

  &:has(.radio-button__input:checked:not(:disabled)):hover::after {
    @apply bg-primary-hover;
  }

  &:has(.radio-button__input:focus-visible:checked:not(:disabled))::after {
    @apply bg-primary-focused;
  }

  &:has(
      .radio-button__input:focus-visible:not(:checked):not(:disabled)
    )::after {
    @apply bg-on-surface-focused;
  }

  &:has(.radio-button__input:active:checked:not(:disabled))::after {
    @apply bg-on-surface-pressed;
  }

  &:has(.radio-button__input:active:not(:checked):not(:disabled))::after {
    @apply bg-primary-pressed;
  }
}

.radio-button__input {
  @apply absolute size-full opacity-0 z-3 cursor-pointer disabled:cursor-not-allowed;

  &:checked + .radio-button__icons svg:first-child,
  &:not(:checked) + .radio-button__icons svg:last-child {
    @apply block;
  }

  &:focus-visible:not(:disabled) + .radio-button__icons svg {
    @apply outline outline-2;
  }

  &:focus-visible:not(:checked):not(:disabled)
    + .radio-button__icons
    svg:last-child {
    @apply text-on-surface;
  }

  &:disabled + .radio-button__icons {
    @apply text-on-surface-text-disabled;
  }
}

.radio-button__icons svg {
  @apply hidden rounded-full;
}
